<section id="Contact">
   
    <div class="Contact-box2 hel">
        <ul class="Contact-menus">
            <li class="Contact-menu"><a href="" class="Contact-lname">FAQ</a></li>
            <li class="Contact-menu"><a href="" class="Contact-lname">Our History</a></li>
            <li class="Contact-menu"><a href="" class="Contact-lname">Blog</a></li>
            <li class="Contact-menu"><a href="" class="Contact-lname">Team Member</a></li>
        </ul>
    </div>
    <div class="Contact-box3 hel">
        <img src="{{ url_for('static', filename='image/logo.png') }}" class="Contact-boxl">
    </div>
    <div class="Contact-box4 hel">
        <ul class="Contact-menus">
            <li class="Contact-menu"><a href="" class="Contact-lname">Style Guide</a></li>
            <li class="Contact-menu"><a href="" class="Contact-lname">Licenses</a></li>
            <li class="Contact-menu"><a href="" class="Contact-lname">Error 404</a></li>
            <li class="Contact-menu"><a href="" class="Contact-lname">Protected</a></li>
        </ul>
    </div>
  
</section>

<section id="drown">
    <div class="droneown-one dr">
        <a href="mailto:helloak@gmail.com" class="mail">Engage-Moi@gmail.com</a>
        <a href="tel:9785253423" class="phonet">+212 854 785</a>
    </div>
    <div class="drown-Two dr">
        <p>Casablanca , Morocco</p>
    </div>
    <div class="drown-Three dr">
        <a href="https://developers.facebook.com/docs/facebook-login/" target="_blank" class="drown-Three-icons"><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></a>
        <a href="#" class="drown-Three-icons"><i class="fa-brands fa-x-twitter" style="color: #ffffff;"></i></a>
        <a href="#" class="drown-Three-icons"><i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i></a>
        <a href="https://www.instagram.com/accounts/login/?next=%2Flivein.now%2Ftagged%2F&source=profile_tagged_tab" target="_blank" class="drown-Three-icons"><i class="fa-brands fa-instagram" style="color: #fefefe;"></i></a>
    </div>
</section>

<section class="end">
    <div class="endpara">
        <p>Copyright © 2025 Engage-Moi, All Rights Reserved.</p>
    </div>
</section>